<!-- {% load staticfiles %}
{% if request.user.is_authenticated %}
{% else %}<a href="{% url django.contrib.auth.login %}">Login</a>{% endif %} -->
<!--{% for task in tasks %}
Title : {{ task.title }}
<br>
Description : {{task.text}}
<br><br>
{% endfor %} -->
<!DOCTYPE html>
<html>
<head>
	<title>Ace Portal : Dashboard</title>
	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Ace Library Portal @ VIPS">
 	<meta property="og:title" content="Portal -- VIPS" />
 	<meta property="og:description" content="An portal to find coding and tech stuff built by ACE members at VIPS." />
 	<link rel="icon" href="img/logo.png"> 
 	
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.css" />
  	<link rel="stylesheet" href="css/home.css" />

</head>
<body>

	<!-- Hero Bg tab -->
	<div class="ui stackable grid hero-hg">
		<div class="ui row">
		<div class="ui sixteen wide column hero-bg">
			<img src="img/logo.png">
			<h1><i class="content icon large burNav" id="navOpen"></i></h1>
			<div class="userAbs">
				<button class="ui teal inverted tiny button">Core Member</button><br><br>
				<a href="#" class="user-main"><!-- {{ request.user.first_name }} {{request.user.last_name  }} --> Srijit S Madhavan </a>
				<div class="ui feed">
				<div class="event">
				    <div class="content">
				    <div class="summary"> 
				        <a class="user">@ <!-- {{ request.user.username }} --> srijitcoder</a>
				        <br> Score<div class="date">7/10</div>
				    </div>
				    </div>
				</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<!-- Hero Bg tab end -->	

	<!-- ace task menu -->
	<div class="ui container">
		<div class="ui stackable grid">
			<div class="ui row" style="padding:80px 0px;">
			<div class="ui sixteen wide column" style="text-align:center;">
				<h3 style="color:rgba(0, 0, 0, 0.50)">EAT SLEEP CODE</h3>
				<h1 class="quote-head">Ace Task Manager<br><span>Ace Logic Bombs</span></h1>
				<br><br><br>

				<div class="ui stackable grid">
					<div class="ui sixteen wide column task">
						<div class="ui card">
						  <div class="card">
						    <div class="content">
						      <div class="header"><h1>Jumping Bunnies</h1></div>
						      <div class="meta">Last Date: 20th Nov 2016</div>
						      <div class="description">
						        Bunnies are very cute animals who likes to jump a lot. Every bunny has his own range of jump. Lets say there are bunnies and bunny jumps units. Consider a 1-D plane, where initially bunnies are at . All of them starts jumping in forward direction.

								For example, consider the case of bunny. Initially he is at . After first jump, he will be at point . After second, he will be at and so on. After jump, he will be at point .

								Two bunnies can only meet each other when they are on the ground. When on the ground, a bunny can wait any amount of time. Being a social animal, all of them decide to meet at the next point where all of them will be on the ground. You have to find the nearest point where all the bunnies can meet.

								For example, if there are bunnies where , , . Nearest point where all bunnies can meet again is at . First bunny has to jump six times, for second it is times and for third it is times. 
						      </div><br>
						      <button class="ui blue inverted large button">Submit Your Entry</button>
						      <br><br>
						    </div>
						  </div>
						</div>
					</div>
				</div>


				<div class="ui stackable grid">
					<div class="ui sixteen wide column task">
						<div class="ui card">
						  <div class="card">
						    <div class="content">
						      <div class="header"><h1>PRNG Sequence Guessing.</h1></div>
						      <div class="meta">Last Date: 20th Nov 2016</div>
						      <div class="description">
								The first line of input contains a number indicating the number of test cases to follow.
								For each of the test cases, a line will follow containing two space separated Unix timestamps representing the time during which the random number generator instance was created. The range between the two timestamps will be, at most, .
								The following ten lines contain the first ten numbers sequentially generated by the same Random instance's nextInt(1000) function, one on each line.
						      </div><br>
						      <button class="ui blue inverted large button">Submit Your Entry</button>
						      <br><br>
						    </div>
						  </div>
						</div>
					</div>
				</div>


				<div class="ui stackable grid">
					<div class="ui sixteen wide column task">
						<div class="ui card">
						  <div class="card">
						    <div class="content">
						      <div class="header"><h1>Bot saves princes.</h1></div>
						      <div class="meta">Last Date: 20th Nov 2016</div>
						      <div class="description">
						        Princess Peach is trapped in one of the four corners of a square grid. You are in the center of the grid and can move one step at a time in any of the four directions. Can you rescue the princess?
								The first line contains an odd integer N (3 <= N < 100) denoting the size of the grid. This is followed by an NxN grid. Each cell is denoted by '-' (ascii value: 45). The bot position is denoted by 'm' and the princess position is denoted by 'p'.
								Print out the moves you will take to rescue the princess in one go. The moves must be separated by '\n', a newline. The valid moves are LEFT or RIGHT or UP or DOWN. 
						      </div><br>
						      <button class="ui blue inverted large button">Submit Your Entry</button>
						      <br><br>
						    </div>
						  </div>
						</div>
					</div>
				</div>

			</div>
			</div>
		</div>
	</div>
	<!-- ace task menu end -->

	<!-- nav -->
	<nav class="transition hidden">
		<div class="centered nav">
			<div class="center-area">
				<div class="centered nav-segment">
					<div class="ui stackable relaxed grid">
						<div class="ui row">
							<div class="ui sixteen wide column">
								<a class="active">Task Manager</a><br>
								<a href="#" class="nav-close">Task Score</a><br>
								<a href="home.html" class="nav-close">Dashboard</a><br>
								<a href="#" class="nav-close">Logout</a><br>							
							</div>
						</div>
					</div>
				</div>
			</div>
			<h1><i class="remove icon large burNav nav-close" style="color:white;"></i></h1>
		</div>
	</nav>
	<!-- nav end -->

	<footer>
		Made with ♥ by ACE
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.js"></script>
	<script type="text/javascript">
		$('.special.cards .image').dimmer({
		  on: 'hover'
		});
		$(document).ready(function(){
			$('#navOpen').click(function(){
				$('nav') .transition('fade down'); 
			});
		});
		$(document).ready(function(){
			$('.nav-close').click(function(){
				$('nav') .transition('fade down'); 
			});
		});	
		$(document).ready(function(){
			$('.task-trigger').click(function(){
				$(this).find('.task-event').transition('fade down');
			});
		});
	</script>
</body>
</html>